<% layout('layouts/boilerplate')%>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= err.message %></h4>
    <hr>
    <% if (process.env.NODE_ENV !== "production") { %> 
        <div style="overflow-wrap: break-word;">
            <%= err.stack %>
        </div>
    <% } %> 
</div>


